.CalculationResultresult{
  width: 210px;
  height: 20px;
  background-color: black;
  color:#fff;
  margin-right:100%;
}
.Btn1{
  width: 50px;
  height: 20px;
}
.Btn2{
  width: 105px;
  height: 20px;
}